 <div id="experiences" class="row">
  <div class="main-title-bg">
    <div class="container scrollspy">
        <span class="main-title-font grey-text text-lighten-5">Experiences</span>
    </div>
  </div>
  <div class="main-container">
    <div class="row experience-row">
      <div class="col s12 m4 l3 center">
        <img class="responsive-img lappis" src="images/lappis.png" alt="">
      </div>
      <div class="col s12 m8 l9">
        <p class="experience-time">january, 2015 - april, 2016</p>
        <span class="experience-title">Laboratório Avançado de Pesquisa Produção e Inovação em Software, UnB</span>
        <p class="experience-job">Junior Developer</p>
        <div class="experience-attribuitions">
          <p>The Production Advanced Laboratory, Research & Innovation Software (LAPPIS) was established in 2012 and is designed to work in technological fields from information systems to embedded systems, in particular aiming opportunities of theoretical and applied research.</p>

          <p>I worked in the Software Público Brasileiro project as python/django developer, contributing to Colab.</p>
        </div>
      </div>
    </div>
    <div class="row experience-row">
      <div class="col s12 m4 l3 center">
        <img class="responsive-img gdf" src="images/gdf.png" alt="">
      </div>
      <div class="col s12 m8 l9">
        <p class="experience-time">march, 2014 - january, 2015</p>
        <span class="experience-title">Fábrica Social, GDF</span>
        <p class="experience-job">Head of Systems Analysis Core</p>
        <div class="experience-attribuitions">
          <p>Fábrica Social was a government program that assists low-income people providing various qualification courses and remunerating according with the student production.</p>

          <p>I worked in IT department as full-stack python developer and requirements analyst in building internal administrative systems.</p>
        </div>
      </div>
    </div>
    <div class="row experience-row last">
      <div class="col s12 m4 l3 center">
        <img class="responsive-img" src="images/incentage.png" alt="">
      </div>
      <div class="col s12 m8 l9">
        <p class="experience-time">april, 2013 - march, 2014</p>
        <span class="experience-title">Incentage do Brasil</span>
        <p class="experience-job">Intern</p>
        <div class="experience-attribuitions">
          <p>Incentage is a worldwide leader in messaging solutions for the financial services industry. Provides the IMS (Incentage Middleware Suite) that controls and channels messages, making sure they arrive at the right destination on time.</p>
          <p>In this internship program, I was responsible by maintenance and creation of regex based components in IMS. </p>
        </div>
      </div>
    </div>
  </div>
</div>
