 <div id="experiences" class="row">
  <div class="main-title-bg">
    <div class="container scrollspy">
        <span class="main-title-font grey-text text-lighten-5">Experiences</span>
    </div>
  </div>
  <div class="main-container">
    <div class="row experience-row">
      <div class="col s12 m4 l3 center">
        <img class="responsive-img" src="images/lappis.png" alt="">
      </div>
      <div class="col s12 m8 l9">
        <p class="experience-time">january, 2015 - today</p>
        <span class="experience-title">Laboratório Avançado de Pesquisa Produção e Inovação em Software, UnB</span>
        <p class="experience-job">Junior Developer</p>
        <div class="experience-attribuitions">
          <ul>
            <li>DevOps automation</li>
            <li>Python + Django developer</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row experience-row">
      <div class="col s12 m4 l3 center">
        <img class="responsive-img gdf" src="images/gdf.png" alt="">
      </div>
      <div class="col s12 m8 l9">
        <p class="experience-time">march, 2014 - january, 2015</p>
        <span class="experience-title">Fábrica Social, GDF</span>
        <p class="experience-job">Head of Systems Analysis Core</p>
        <div class="experience-attribuitions">
          <ul>
            <li>Requirements analysis</li>
            <li>Java and Python developer</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row experience-row last">
      <div class="col s12 m4 l3 center">
        <img class="responsive-img" src="images/incentage.png" alt="">
      </div>
      <div class="col s12 m8 l9">
        <p class="experience-time">april, 2013 - march, 2014</p>
        <span class="experience-title">Incentage do Brasil</span>
        <p class="experience-job">Intern</p>
        <div class="experience-attribuitions">
          <ul>
            <li>Incentage Middleware Suite component maintenance</li>
            <li>Regex based component creation</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
