<div id="skills" class="row">
  <div class="main-title-bg">
    <div class="container scrollspy">
        <span class="main-title-font grey-text text-lighten-5">Skills</span>
    </div>
  </div>
  <div class="main-container">
    <div class="row">
      <div class="col s12 m6">
        <span class="skill-title">Front-End</span>
        <div class="skills-box">
          <div class="skill-item">
            <span>JavaScript</span>
            <div class="progress grey lighten-2">
              <div class="determinate" style="width: 60%"></div>
            </div>
          </div>
          <div class="skill-item">
            <span>CSS</span>
            <div class="progress grey lighten-2">
              <div class="determinate" style="width: 50%"></div>
            </div>
          </div>
          <div class="skill-item">
            <span>HTML</span>
            <div class="progress grey lighten-2">
              <div class="determinate" style="width: 70%"></div>
            </div>
          </div><div class="skill-item">
            <span>Materialize CSS</span>
            <div class="progress grey lighten-2">
              <div class="determinate" style="width: 75%"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <span class="skill-title">Back-End</span>
        <div class="skills-box">
          <div class="skill-item">
            <span>Python</span>
            <div class="progress grey lighten-2">
              <div class="determinate" style="width: 90%"></div>
            </div>
          </div>
          <div class="skill-item">
            <span>Java</span>
            <div class="progress grey lighten-2">
              <div class="determinate" style="width: 50%"></div>
            </div>
          </div>
          <div class="skill-item">
            <span>C/C++</span>
            <div class="progress grey lighten-2">
              <div class="determinate" style="width: 30%"></div>
            </div>
          </div>
          <div class="skill-item">
            <span>SQL</span>
            <div class="progress grey lighten-2">
              <div class="determinate" style="width: 60%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <span class="skill-title">DevOps</span>
        <div class="skills-box">
          <div class="skill-item">
            <span>Chef</span>
            <div class="progress grey lighten-2">
              <div class="determinate" style="width: 85%"></div>
            </div>
          </div>
          <div class="skill-item">
            <span>Shell Script</span>
            <div class="progress grey lighten-2">
              <div class="determinate" style="width: 60%"></div>
            </div>
          </div>
          <div class="skill-item">
            <span>Vagrant</span>
            <div class="progress grey lighten-2">
              <div class="determinate" style="width: 80%"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <span class="skill-title">Web Development</span>
        <div class="skills-box">
          <div class="skill-item">
            <span>Django Framework</span>
            <div class="progress grey lighten-2">
              <div class="determinate" style="width: 85%"></div>
            </div>
          </div>
          <div class="skill-item">
            <span>Heroku</span>
            <div class="progress grey lighten-2">
              <div class="determinate" style="width: 50%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
