---
layout: blog
---
{% if site.posts.size > 0 %}
  {% for post in site.posts %}
  <div class="col s12 m6">
    <div class="card">
      <div class="blog-card-img waves-effect waves-block waves-light">
        <a class="" href="{{ post.url | prepend: site.baseurl }}"><img class="blog-post-img" src="/images/{{post.image}}"></a>
      </div>
      <div class="card-content">
        <p class="blog-post-date">{{ post.date | date: '%B %d, %Y' }}</p>
        <a href="{{ post.url | prepend: site.baseurl }}"><span class="blog-card-title">{{post.title}}</span></a>
        <p class="blog-post-resume">{{post.resume}}</p>
      </div>
      <div class="card-action right">
        <a href="{{ post.url | prepend: site.baseurl }}">See More...</a>
      </div>
    </div>
  </div>
  {% endfor %}
{% else %}
<p>Sorry... I did not write any post yet :(</p>
{% endif %}
