<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <header>
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <span class="brand-logo center"><a class="inactive" href="/">msfernandes |</a><a href="/blog"> blog</a></span>
          </div>
        </nav>
      </div>
    </header>

    <div class="row">
      <div class="blog-title-bg">
        <div class="container scrollspy">
            <span class="main-title-font blog-title-color">My blog</span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        {{content}}
      </div>
      {% include social_footer.html %}
    </div>
  </body>
</html>
