<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  <header>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo center">msfernandes</a>
        </div>
        <ul class="tabs fixed z-depth-1 hide-on-small-only">
          <li class="tab col s3"><a href="#about">About</a></li>
          <li class="tab col s3"><a href="#skills">Skills</a></li>
          <li class="tab col s3"><a href="#experiences">Experiences</a></li>
          <!-- <li class="tab col s3"><a href="#collaborations">Collaborations</a></li> -->
        </ul>

        <ul class="tabs fixed z-depth-1 hide-on-med-and-up">
          <li class="tab col s3"><a href="#about"><i class="small mdi mdi-account"></i></a></li>
          <li class="tab col s3"><a href="#skills"><i class="small mdi mdi-xml"></i></a></li>
          <li class="tab col s3"><a href="#experiences"><i class="material-icons">work</i></a></li>
          <!-- <li class="tab col s3"><a href="#collaborations"><i class="small mdi mdi-source-pull"></i></a></li> -->
        </ul>
      </nav>
    </div>
  </header>

  {% include about.html %}
  {% include skills.html %}
  {% include experiences.html %}

  </body>
</html>
