<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  <header>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center">msfernandes</a>
        </div>
        <ul class="tabs fixed z-depth-1 hide-on-small-only">
          <li class="tab col s3"><a href="#about">About</a></li>
          <li class="tab col s3"><a href="#education">Education</a></li>
          <li class="tab col s3"><a href="#skills">Skills</a></li>
          <li class="tab col s3"><a href="#experiences">Experiences</a></li>
        </ul>

        <ul class="tabs fixed z-depth-1 hide-on-med-and-up">
          <li class="tab col s3"><a href="#about"><i class="material-icons small">person</i></a></li>
          <li class="tab col s3"><a href="#education"><i class="material-icons">school</i></a></li>
          <li class="tab col s3"><a href="#skills"><i class="material-icons">laptop_mac</i></a></li>
          <li class="tab col s3"><a href="#experiences"><i class="material-icons">work</i></a></li>
        </ul>
      </nav>
    </div>
  </header>

  {% include about.html %}
  {% include education.html %}
  {% include skills.html %}
  {% include experiences.html %}
  
  </body>
</html>
