<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  <header>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center">msfernandes</a>
        </div>
        <ul class="tabs fixed z-depth-2 hide-on-small-only">
          <li class="tab col s3"><a href="#about">About</a></li>
          <li class="tab col s3"><a href="#education">Education</a></li>
          <li class="tab col s3"><a href="#skills">Skills</a></li>
          <li class="tab col s3"><a href="#test4">Experiences</a></li>
        </ul>

        <ul class="tabs fixed z-depth-2 hide-on-med-and-up">
          <li class="tab col s3"><a href="#about"><i class="material-icons small">person</i></a></li>
          <li class="tab col s3"><a href="#education"><i class="material-icons">school</i></a></li>
          <li class="tab col s3"><a href="#skills"><i class="material-icons">laptop_mac</i></a></li>
          <li class="tab col s3"><a href="#test4"><i class="material-icons">work</i></a></li>
        </ul>
      </nav>
    </div>
  </header>

      <div class="row">
        <div class="main-title-bg">
          <div id="about" class="container scrollspy">
              <span class="main-title-font grey-text text-lighten-5">About</span>
          </div>
        </div>
        <div class="main-container">
          <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos dolores id distinctio quas alias maiores debitis odit, voluptatibus cum culpa reprehenderit velit eum totam consectetur similique eius quo odio? Expedita.</div>
          <div>Cupiditate quisquam nostrum quo, iusto fugiat non rerum tempora nisi et debitis minima, quod neque, optio aperiam voluptas a vel fuga repellendus labore tempore voluptatibus. Eligendi nulla perferendis non iste!</div>
          <div>Quod maxime modi est, eum velit, aspernatur aliquam adipisci eveniet consequatur tempora sapiente architecto, blanditiis corrupti voluptatem nam cupiditate ipsa corporis nesciunt assumenda ullam porro laborum voluptas aut! Consequatur, fugiat!</div>
          <div>Esse minus velit fugit alias quae, laborum debitis dolor porro delectus corporis recusandae, nam quas impedit voluptas minima? Magni officia aspernatur totam cumque animi accusantium impedit, doloremque atque repellendus inventore.</div>
          <div>Accusantium sed perspiciatis pariatur ab, vel optio aliquam culpa dolor dolore repellendus, deserunt quod dicta soluta. Natus doloremque aut corporis veniam autem, itaque nesciunt culpa magnam omnis reiciendis minima ducimus.</div>
          <div>Modi totam nulla, veritatis eligendi, commodi impedit in illum nobis sed natus similique asperiores eos a quam! Modi cumque inventore vel nesciunt, nihil unde, maxime? Earum, nostrum sed asperiores eius!</div>
          <div>Nobis iusto dolore laboriosam earum sint nulla repudiandae. Iste officia mollitia cupiditate. Quas nam, aliquid, suscipit alias voluptatibus nulla dolorem, exercitationem, eos iste officiis illo minus cumque molestiae mollitia fugiat?</div>
          <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos dolores id distinctio quas alias maiores debitis odit, voluptatibus cum culpa reprehenderit velit eum totam consectetur similique eius quo odio? Expedita.</div>
          <div>Cupiditate quisquam nostrum quo, iusto fugiat non rerum tempora nisi et debitis minima, quod neque, optio aperiam voluptas a vel fuga repellendus labore tempore voluptatibus. Eligendi nulla perferendis non iste!</div>
          <div>Quod maxime modi est, eum velit, aspernatur aliquam adipisci eveniet consequatur tempora sapiente architecto, blanditiis corrupti voluptatem nam cupiditate ipsa corporis nesciunt assumenda ullam porro laborum voluptas aut! Consequatur, fugiat!</div>
          <div>Esse minus velit fugit alias quae, laborum debitis dolor porro delectus corporis recusandae, nam quas impedit voluptas minima? Magni officia aspernatur totam cumque animi accusantium impedit, doloremque atque repellendus inventore.</div>
          <div>Accusantium sed perspiciatis pariatur ab, vel optio aliquam culpa dolor dolore repellendus, deserunt quod dicta soluta. Natus doloremque aut corporis veniam autem, itaque nesciunt culpa magnam omnis reiciendis minima ducimus.</div>
          <div>Modi totam nulla, veritatis eligendi, commodi impedit in illum nobis sed natus similique asperiores eos a quam! Modi cumque inventore vel nesciunt, nihil unde, maxime? Earum, nostrum sed asperiores eius!</div>
          <div>Nobis iusto dolore laboriosam earum sint nulla repudiandae. Iste officia mollitia cupiditate. Quas nam, aliquid, suscipit alias voluptatibus nulla dolorem, exercitationem, eos iste officiis illo minus cumque molestiae mollitia fugiat?</div>
        </div>
      </div>

    <div class="row">
      <div class="main-title-bg">
        <div id="about" class="container scrollspy">
            <span class="main-title-font grey-text text-lighten-5">About</span>
        </div>
      </div>
      <div class="main-container">
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos dolores id distinctio quas alias maiores debitis odit, voluptatibus cum culpa reprehenderit velit eum totam consectetur similique eius quo odio? Expedita.</div>
        <div>Cupiditate quisquam nostrum quo, iusto fugiat non rerum tempora nisi et debitis minima, quod neque, optio aperiam voluptas a vel fuga repellendus labore tempore voluptatibus. Eligendi nulla perferendis non iste!</div>
        <div>Quod maxime modi est, eum velit, aspernatur aliquam adipisci eveniet consequatur tempora sapiente architecto, blanditiis corrupti voluptatem nam cupiditate ipsa corporis nesciunt assumenda ullam porro laborum voluptas aut! Consequatur, fugiat!</div>
        <div>Esse minus velit fugit alias quae, laborum debitis dolor porro delectus corporis recusandae, nam quas impedit voluptas minima? Magni officia aspernatur totam cumque animi accusantium impedit, doloremque atque repellendus inventore.</div>
        <div>Accusantium sed perspiciatis pariatur ab, vel optio aliquam culpa dolor dolore repellendus, deserunt quod dicta soluta. Natus doloremque aut corporis veniam autem, itaque nesciunt culpa magnam omnis reiciendis minima ducimus.</div>
        <div>Modi totam nulla, veritatis eligendi, commodi impedit in illum nobis sed natus similique asperiores eos a quam! Modi cumque inventore vel nesciunt, nihil unde, maxime? Earum, nostrum sed asperiores eius!</div>
        <div>Nobis iusto dolore laboriosam earum sint nulla repudiandae. Iste officia mollitia cupiditate. Quas nam, aliquid, suscipit alias voluptatibus nulla dolorem, exercitationem, eos iste officiis illo minus cumque molestiae mollitia fugiat?</div>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos dolores id distinctio quas alias maiores debitis odit, voluptatibus cum culpa reprehenderit velit eum totam consectetur similique eius quo odio? Expedita.</div>
        <div>Cupiditate quisquam nostrum quo, iusto fugiat non rerum tempora nisi et debitis minima, quod neque, optio aperiam voluptas a vel fuga repellendus labore tempore voluptatibus. Eligendi nulla perferendis non iste!</div>
        <div>Quod maxime modi est, eum velit, aspernatur aliquam adipisci eveniet consequatur tempora sapiente architecto, blanditiis corrupti voluptatem nam cupiditate ipsa corporis nesciunt assumenda ullam porro laborum voluptas aut! Consequatur, fugiat!</div>
        <div>Esse minus velit fugit alias quae, laborum debitis dolor porro delectus corporis recusandae, nam quas impedit voluptas minima? Magni officia aspernatur totam cumque animi accusantium impedit, doloremque atque repellendus inventore.</div>
        <div>Accusantium sed perspiciatis pariatur ab, vel optio aliquam culpa dolor dolore repellendus, deserunt quod dicta soluta. Natus doloremque aut corporis veniam autem, itaque nesciunt culpa magnam omnis reiciendis minima ducimus.</div>
        <div>Modi totam nulla, veritatis eligendi, commodi impedit in illum nobis sed natus similique asperiores eos a quam! Modi cumque inventore vel nesciunt, nihil unde, maxime? Earum, nostrum sed asperiores eius!</div>
        <div>Nobis iusto dolore laboriosam earum sint nulla repudiandae. Iste officia mollitia cupiditate. Quas nam, aliquid, suscipit alias voluptatibus nulla dolorem, exercitationem, eos iste officiis illo minus cumque molestiae mollitia fugiat?</div>
      </div>
    </div>
  </body>

  <script>
  $(document).ready(function (){
    $('.scrollspy').scrollSpy();
  })
  </script>
</html>
